{% extends "base.html" %}

{% block content %}
<style>
    .my-forms{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    }
    .register-form,.login-form{
        width: 30%;
        background-color: rgb(188, 221, 223);
        padding: 30px;
        margin: 30px auto;
        border-radius: 15px;
    }
    .table{
        background-color: rgb(188, 221, 223)
    }
</style>

{% if session['user'] != 'translator' %}
<div class="container">
    <h3>Translator</h3>
    {% if session['page'] == 'forgot' %}
    <div class="register-form">
        <h3 class="text-center mb-3">Reset Passord</h3>
        <form method="POST">
            {{forgotPassForm.hidden_tag()}}
            <div class="mb-3">
                {{forgotPassForm.email.label(class='form-label')}}
                {{forgotPassForm.email(class='form-control')}}
            </div>
            <div class="mb-3">
                {{forgotPassForm.submit(class='btn btn-primary')}}
            </div>
            <a href="/translator/login">Login</a>
        </form>
    </div>
    {%else%}
    <div class="my-forms">
        {% if session['page'] == 'register' %}
        <div class="register-form">
            <h3 class="text-center mb-3">Registeration Form</h3>
            <form method="POST">
                {{registerForm.hidden_tag()}}
                <div class="mb-3">
                    {{registerForm.email.label(class='form-label')}}
                    {{registerForm.email(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.name.label(class='form-label')}}
                    {{registerForm.name(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.password.label(class='form-label')}}
                    {{registerForm.password(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.pass_confirm.label(class='form-label')}}
                    {{registerForm.pass_confirm(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.language_from.label(class='form-label')}}
                    {{registerForm.language_from(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.language_to.label(class='form-label')}}
                    {{registerForm.language_to(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.min_price.label(class='form-label')}}
                    {{registerForm.min_price(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.target_price.label(class='form-label')}}
                    {{registerForm.target_price(class='form-control')}}
                </div>
                {{registerForm.submit(class='btn btn-primary')}}
            </form>
            <a href="/translator/login">Login</a>
        </div>
        {% elif session['page'] == 'login' %}
        <div class="login-form">
            <h3 class="text-center mb-3">Login Form</h2>
            <form method="POST">
                {{loginForm.hidden_tag()}}
                <div class="mb-3">
                    {{loginForm.email.label(class='form-label')}}
                    {{loginForm.email(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{loginForm.password.label(class='form-label')}}
                    {{loginForm.password(class='form-control')}}
                </div>
                {{loginForm.submit(class='btn btn-primary mb-3')}}
            </form>
            <a href="/translator/forgot">Forgot Password</a>
            <a href="/translator/register">Register</a>
        </div>
        {%endif%}
    </div>


    <h2 class="text-center mb-4 mt-3">All Users</h2>
    <table class="table w-75 mx-auto">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password[:50]}}</td>
            <!-- <td>{{user.change_pass and user.change_pass[:50]}}</td> -->
        </tr>
        {% endfor %}
    </table>
    {%endif%}
</div>
{%else%}
<p><a href="logout">Logout</a></p>
<ul>
    <li>{{user.name}}</li>
    <li>{{user.language_from}} to {{user.language_to}}</li>
    <li>Min Price: {{user.min_price}}</li>
    <li>Target Price: {{user.target_price}}</li>
</ul>

<p>{{current_user.email}}</p>
{%endif%}
{% endblock %}