{% extends "base.html" %}

{% block content %}
<style>
    .my-forms{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    }
    .register-form,.login-form{
        width: 30%;
        background-color: rgb(188, 221, 223);
        padding: 30px;
        margin: 30px auto;
        border-radius: 15px;
    }
    .register-form{
        width: 40%;
    }
    .table{
        background-color: rgb(188, 221, 223)
    }
</style>

{% if session['user'] != 'translator' %}
<div class="container">
    <h3>Translator</h3>
    {% if session['page'] == 'forgot' %}
    <div class="register-form">
        <h3 class="text-center mb-3">Reset Passord</h3>
        <form method="POST">
            {{forgotPassForm.hidden_tag()}}
            <div class="mb-3">
                {{forgotPassForm.email.label(class='form-label')}}
                {{forgotPassForm.email(class='form-control')}}
            </div>
            <div class="mb-3">
                {{forgotPassForm.submit(class='btn btn-primary')}}
            </div>
            <a href="/translator/login">Login</a>
        </form>
    </div>
    {%else%}
    <div class="my-forms">
        {% if session['page'] == 'register' %}
        <div class="register-form">
            <h3 class="text-center mb-3">Registeration Form</h3>
            <form method="POST">
                {{registerForm.hidden_tag()}}
                <div class="mb-3">
                    {{registerForm.email.label(class='form-label')}}
                    {{registerForm.email(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.name.label(class='form-label')}}
                    {{registerForm.name(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.password.label(class='form-label')}}
                    {{registerForm.password(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{registerForm.pass_confirm.label(class='form-label')}}
                    {{registerForm.pass_confirm(class='form-control')}}
                </div>
                {{registerForm.submit(class='btn btn-primary')}}
            </form>
            <a href="/translator/login">Login</a>
        </div>
        {% elif session['page'] == 'login' %}
        <div class="login-form">
            <h3 class="text-center mb-3">Login Form</h2>
            <form method="POST">
                {{loginForm.hidden_tag()}}
                <div class="mb-3">
                    {{loginForm.email.label(class='form-label')}}
                    {{loginForm.email(class='form-control')}}
                </div>
                <div class='mb-3'>
                    {{loginForm.password.label(class='form-label')}}
                    {{loginForm.password(class='form-control')}}
                </div>
                {{loginForm.submit(class='btn btn-primary mb-3')}}
            </form>
            <a href="/translator/forgot">Forgot Password</a>
            <a href="/translator/register">Register</a>
        </div>
        {%endif%}
    </div>


    <h2 class="text-center mb-4 mt-3">All Users</h2>
    <table class="table w-75 mx-auto">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>From - To</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>
                {%for service in user.services%}
                    {{service.language_from}}-{{service.language_to}}, 
                {%endfor%}
            </td>
            <!-- <td>{{user.change_pass and user.change_pass[:50]}}</td> -->
        </tr>
        {% endfor %}
    </table>
    {%endif%}
</div>
{%else%}
<style>
    .radio-form{
        list-style: none;
    }
    .translations{
        display: flex;
        /* border-top: 1px solid rgba(0, 0, 0, 0.46);
        border-bottom: 1px solid rgba(0, 0, 0, 0.46); */
    }
    .all-translations{
        width: 30%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.114);
        border-top: 1px solid rgba(0, 0, 0, 0.14);
        border-left: 2px solid rgba(0, 0, 0, 0.14);
        border-right: 1px solid rgba(0, 0, 0, 0.14);
    }
    .translation{
        width: 100%;
        min-height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
        cursor: pointer;
    }
    .new-translation{
        width: 70%;
        border-top: 1px solid rgba(0, 0, 0, 0.14);
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
        min-height: 80vh;
    }
    .all-heading{
        border-bottom: 1px solid rgba(0, 0, 0, 0.14);
        position: relative;
    }
    .new-btn{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    p{
        margin-block-start:0.4rem ;
        margin-block-end:0.4rem ;
    }
</style>
<p><a href="logout">Logout</a></p>
<div class="translations my-4">
    <div class="all-translations">
        <div class="all-heading py-2"><h4 class="text-center">All Services</h4></div>
        {% for service in services %}
        <div class="translation px-4 py-3">
            <p><span class="fw-bold">From:</span> {{service.language_from}} To {{service.language_to}}</p>
            <p><span class="fw-bold">Price:</span> ${{service.min_price}}</p>
            <p><span class="fw-bold">Text:</span> {{service.target_price}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="new-translation p-4">        
        <form method="post">
            {{addServiceForm.hidden_tag()}}
            <div class="mb-3">
                {{addServiceForm.language_from.label(class='form-label')}}
                {{addServiceForm.language_from(class='form-control')}}
            </div>
            <div class="mb-3">
                {{addServiceForm.language_to.label(class='form-label')}}
                {{addServiceForm.language_to(class='form-control')}}
            </div>
            <div class="mb-3">
                {{addServiceForm.min_price.label(class='form-label')}}
                {{addServiceForm.min_price(class='form-control radio-form')}}
            </div>
            <div class="mb-3">
                {{addServiceForm.target_price.label(class='form-label')}}
                {{addServiceForm.target_price(class='form-control',rows=10)}}
            </div>
            <div class="mb-3">
                {{addServiceForm.submit(class='btn btn-success')}}
            </div>
        </form>
    </div>
</div>
{%endif%}
{% endblock %}